.site-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.site-header {
  background-image: url('../images/podcast-background.jpg');
  color: white;
  height: 400px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-intro {
  text-align: center;
}

.site-nav {
  background-color: black;
}

.site-link {
  color: whitesmoke;
}
